<div class="btn-group mb-3 btn-group-lg d-block d-md-flex" role="group">
	<button id="btn-new" type="button" class="@@newelement btn btn-light text-dark"><span class="dtik-icon-zoom-in text-primary dtik-text-size-1-5"></span> @@detalle</button>

 </div>
