<section id="dtik-toolbar">
	<h1 class="float-md-left mr-3">@@TituloPagota <span class="@@ClassEstadopagina badge align-text-top ml-sm-2">@@Estadopagina</span></h1>
	<button type="button" class="@@backbutton btn btn-light mr-1 btnVolver"><span class="dtik-icon-arrow-return"></span> Volver</button>
	<button type="button" class="@@backbutton btn btn-primary mr-1" title="Ctrl+g"><span class="dtik-icon-save"></span> Guardar</button>
	<button type="button" class="@@newpag btn btn-primary mr-1 btnEditar"><span class="dtik-icon-add-2"></span> Nuevo</button>
	<button type="button" class="@@editarpag btn btn-primary mr-1 btnEditar"><span class="dtik-icon-pencil-1"></span> Editar</button>
	<button type="button" class="@@cssacadi1 btn btn-light mr-1"><span class="dtik-icon-sd-card-download"></span> @@acadi1</button>
	<button type="button" class="@@printpag btn btn-light mr-1 btnImprimir"><span class="dtik-icon-printer"></span> Imprimir</button>
	<button type="button" class="@@nopag btn btn-light mr-1 btnRechazar"><span class="dtik-icon-forbidden"></span> Rechazar</button>
	<button type="button" class="@@okpag btn btn-primary mr-1 btnValidar"><span class="dtik-icon-check-circle-1"></span> Validar</button>
	<div class="d-inline-block">
		<button class="btn btn-light @@morepag" type="button" id="dtik-dropdown-mas" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		    <span class="dtik-icon-navigation-show-more-horizontal-lg"></span>
		</button>
		<div class="dropdown-menu dropdown-menu-right " aria-labelledby="dtik-dropdown-mas">
		    <a class="dropdown-item" href="#">@@acadi2</a>
		    <a class="dropdown-item" href="#">@@acadi3</a>
		</div>
	</div>
</section>
