<div class="btn-group mb-3 btn-group-lg d-block d-md-flex" role="group">
	<button id="btn-new" type="button" class="@@newelement btn btn-light text-dark"><span class="dtik-icon-sd-card-add text-primary dtik-text-size-1-5"></span> @@newelementtext</button>
	<button id="btn-new-version" type="button" class="@@copyelement btn btn-light text-dark"><span class="dtik-icon-file-copy text-primary dtik-text-size-1-5"></span> Versión nueva</button>
	<button id="btn-edit" type="button" class="@@editbtn btn btn-light text-dark"><span class="dtik-icon-pencil-1 text-primary dtik-text-size-1-5"></span> Editar</button>
	<button id="btn-petition" type="button" class="@@peticionnomina btn btn-light text-dark" disabled=""><span class="dtik-icon-money-bag-euro text-primary dtik-text-size-1-5"></span> Petición nómina</button>
	<button id="btn-csv" type="button" class="@@buttonthreeitem btn btn-light text-dark"> <span class="@@buttonthreecss"></span> @@buttonthreeitemtext</button>
	<button id="btn-csv" type="button" class="@@buttonfouritem btn btn-light text-dark"> <span class="@@buttonfourcss"></span> @@buttonfouritemtext</button>
	<button id="btn-csv" type="button" class="@@buttonfiveitem btn btn-light text-dark"> <span class="@@buttonfivecss"></span> @@buttonfiveitemtext</button>
	<button id="btn-reenviar" type="button" class="@@reenviarjustificante btn btn-light text-dark"><span class="dtik-icon-email-shield text-primary"></span> Reenviar justificante</button>
	<button id="btn-delete" type="button" class="@@detelebtn btn btn-light text-dark" disabled=""><span class="dtik-icon-bin text-danger dtik-text-size-1-5"></span> Anular</button>
 </div>
