<!-- Lodash 4.17.5 -->
<script src="https://cdn.jsdelivr.net/npm/lodash@4.17.5/lodash.min.js"></script>
<!-- DonostiaTIK Bootstrap Theme -->
<script src="../vendor/Dtik1_2_1_js/dtik.min.js"></script>
<!-- Tempus Dominus - Bootstrap 4 -->
<script src="../vendor/Dtik1_2_1_js/moment.min.js"></script>
<script src="../vendor/Dtik1_2_1_js/es.js"></script>
<script src="../vendor/Dtik1_2_1_js/eu.js"></script>
<script src="../vendor/Dtik1_2_1_js/tempusdominus-bootstrap-4.min.js"></script>
<!-- DataTables -->
<script src="../vendor/Dtik1_2_1_js/jquery.dataTables.min.js"></script>
<script src="../vendor/Dtik1_2_1_js/dataTables.responsive.min.js"></script>
<!-- TODO: AÑADIDO -->
<script src="https://cdn.datatables.net/select/1.2.5/js/dataTables.select.min.js"></script>
<script src="https://cdn.datatables.net/plug-ins/1.10.16/sorting/datetime-moment.js"></script>
<script src="https://cdn.datatables.net/plug-ins/1.10.19/dataRender/ellipsis.js"></script>
<!-- TODO: AÑADIDO -->
<!-- Select2 -->
<script src="../vendor/Dtik1_2_1_js/select2.min.js"></script>
<!-- Masked Input Plugin for jQuery -->
<script src="../vendor/Dtik1_2_1_js/jquery.maskedinput.min.js"></script>
<!-- dhtmlxScheduler -->
<script src="../vendor/Dtik1_2_1_js/dhtmlxscheduler.js"></script>
<script src="../vendor/Dtik1_2_1_js/locale_es.js"></script>
<script src="../vendor/Dtik1_2_1_js/locale_recurring_es.js"></script>
<!-- Fancytree -->
<script src="../vendor/Dtik1_2_1_js/jquery.fancytree-all-deps.min.js"></script>
<!-- jQuery BlockUI -->
<script src="../vendor/Dtik1_2_1_js/jquery.blockui.min.js"></script>
<!-- General scripts -->

<!-- ***************** -->
<!-- *** LIBRERIAS *** -->
<!-- ***************** -->

<!-- Jquery Validate 1.17.0 -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/additional-methods.min.js"></script>

<!-- ************************* -->
<!-- *** LIBRERIAS PROPIAS *** -->
<!-- ************************* -->

<script type="text/javascript" src="../js/common/lib/1.0.2/common.js"></script>
<script type="text/javascript" src="../js/common/lib/1.0.2/utils.js"></script>
<script type="text/javascript" src="../js/common/lib/1.0.2/routes.js"></script>

<!-- <script type="text/javascript" src="../js/common/lib/1.0.2/selectize_custom.js"></script> -->
<script type="text/javascript" src="../js/common/lib/1.0.2/datatable_custom.js"></script>

<script type="text/javascript" src="../js/common/lib/1.0.2/html.js"></script>
<script type="text/javascript" src="../js/common/lib/1.0.2/notify.js"></script>
<script type="text/javascript" src="../js/common/lib/1.0.2/blockui.js"></script>
<script type="text/javascript" src="../js/common/lib/1.0.2/buscador.js"></script>
<script type="text/javascript" src="../js/common/lib/1.0.2/my_jquery.js"></script>
<script type="text/javascript" src="../js/common/lib/1.0.2/dialog.js"></script>

<script type="text/javascript" src="../js/common/lib/validations/validations.js"></script>

<!-- ************** -->
<!-- *** CLASES *** -->
<!-- ************** -->

<!-- Constantes -->
<script type="text/javascript" src="../js/web/common/constantes.js"></script>

<!-- Urls -->
<script type="text/javascript" src="../js/web/common/urls.js"></script>

<!-- Table -->
<script type="text/javascript" src="../js/web/common/pages/table.js"></script>

<!-- Form -->
<script type="text/javascript" src="../js/web/common/pages/form.js"></script>

<!-- Imports: ES (Castellano) -->
<script type="text/javascript" src="../js/common/messages/messages_es.js"></script>
<script type="text/javascript" src="../js/common/lib/validations/validations_es.js"></script>
<script type="text/javascript" src="../js/web/common/config/config_es.js"></script>
<script type="text/javascript" src="../js/web/common/datatable/datatable_es.js"></script>

<!-- Imports: EU (Euskera) -->


<!-- *********** -->
<!-- *** ota *** -->
<!-- *********** -->


<!--Start Module: Preinscripciones -->
<script type="text/javascript" src="../js/web/ota/pages/tabla_preinscripciones.js"></script>
<!-- End Module: Preinscripciones -->
