<footer>
	<div class="container-fluid">
	  <p class="float-left">© DonostiaTIK</p>
	  <p class="float-right"><span class="dtik-icon-phone-speaker"></span> <a href="tel:1782">1782</a></p>
	</div>
</footer>