<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title></title>
  <link rel="icon" type="image/x-icon" href="../img/favicon.ico">
  <!-- Font awesome partial -->
  <link rel="stylesheet" href="../vendor/Dtik1_2_1_styles/font-awesome-partial.min.css">
  <!-- Tempus Dominus - Bootstrap 4 -->
  <link rel="stylesheet" href="../vendor/Dtik1_2_1_styles/tempusdominus-bootstrap-4.min.css">
  <!-- DataTables -->
  <link rel="stylesheet" href="../vendor/Dtik1_2_1_styles/jquery.dataTables.min.css">
  <link rel="stylesheet" href="../vendor/Dtik1_2_1_styles/responsive.dataTables.min.css">
  <!-- Select2 -->
  <link rel="stylesheet" href="../vendor/Dtik1_2_1_styles/select2.min.css">
  <link rel="stylesheet" href="../vendor/Dtik1_2_1_styles/select2-bootstrap.min.css">
  <!-- dhtmlxScheduler -->
  <link rel="stylesheet" href="../vendor/Dtik1_2_1_styles/dhtmlxscheduler_flat.css">
  <!-- Fancytree -->
  <link rel="stylesheet" href="../vendor/Dtik1_2_1_styles/ui.fancytree.min.css">
  <!-- DonostiaTIK Bootstrap Theme -->
  <link rel="stylesheet" href="../vendor/Dtik1_2_1_styles/dtik.min.css">
  <!-- DonostiaTIK font in local -->
  <link rel="stylesheet" href="../vendor/fonts/styles.css">
  <!-- jQuery -->
  <script src="../vendor/Dtik1_2_1_js/jquery-3.2.1.min.js"></script>
  <!-- jQuery UI -->
  <script src="../vendor/Dtik1_2_1_js/jquery-ui.min.js"></script>
  <script src="../vendor/Dtik1_2_1_js/jquery.ui-contextmenu.min.js"></script>
  <!--flip counter-->
  <!-- <link rel="stylesheet" href="../assets/flipping_counter/css/flipclock.css"> -->
  <!-- <script src="../assets/flipping_counter/js/flipclock.js"></script> -->
  <!-- Custom Theme -->
  <link href="../assets/scrollbar/styles/scss/scrollbar_eh.css" rel="stylesheet" type="text/css" />
  <link href="../assets/scrollbar/styles/scss/scrollbar_eh.css" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="../styles/web/scss/custom.css">
</head>
