<header>
  <div class="row no-gutters justify-content-end d-flex flex-nowrap">
    <div class="col col-8 col-lg-5">
      <div class="d-flex">
        <div id="dtik-menu-button">
          <a class="dtik-menu-hamburger dtik-is-active" href="#menu-toggle" id="menu-toggle">
            <span class="dtik-menu-line"></span>
            <span class="dtik-menu-line"></span>
            <span class="dtik-menu-line"></span>
          </a>
        </div>
        <span id="dtik-header-logo">
          <img src="../img/DonostiaTIK-logo-mini.png" alt="Ayuntamiento de Donostia - San Sebastián">
        </span>
        <span id="dtik-header-aplicacion">OTA</span>
      </div>
    </div>
    <div class="col col-4 col-lg-7">
      <!-- INICIO MENU VERSION MOVIL -->
      <div class="dropdown d-lg-none" id="dtik-header-responsive">
        <a href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="dtik-icon-navigation-show-more-vertical"></span>
        </a>
        <div class="dropdown-menu">
          <!--<div class="clearfix">
            <a class="dtik-header-responsive-title dtik-dropdown dropdown-item" href="#"><strong>[11] Donostiako Udala / Ayto. de San Sebastián</strong></a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Entidad 1</a></li>
              <li><a class="dropdown-item" href="#">Entidad 2</a></li>
              <li><a class="dropdown-item" href="#">Entidad 3</a></li>
            </ul>
          </div>-->
          <div class="dropdown-divider"></div>
          <span class="dropdown-item"><strong class="text-primary">Español</strong></span>
          <a class="dropdown-item" href="#">Euskera</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Ayuda</a>
          <div class="dropdown-divider"></div>
          <div class="clearfix">
            <a class="dtik-header-responsive-title dtik-dropdown dropdown-item" href="#"><strong>Carlos Etxezarreta</strong></a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Mi cuenta</a></li>
              <li><a class="dropdown-item" href="#">Configuración</a></li>
              <li><button type="button" class="btn btn-primary btn-lg">Salir</button></li>
            </ul>
          </div>
        </div>
      </div>
      <!-- // FIN MENU VERSION MOVIL -->
      <div class="dropdown d-none d-lg-inline-block" id="dtik-header-cuenta">
        <a class="dropdown-toggle" href="#" id="dtik-header-dropdown-cuenta" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="Carlos Etxezarreta">
          <span>C</span>
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dtik-header-dropdown-cuenta">
          <h6 class="dropdown-header">Carlos Etxezarreta</h6>
          <a class="dropdown-item" href="#">Mi cuenta</a>
          <a class="dropdown-item" href="#">Configuración</a>
          <div class="pl-4 pr-4 mb-2"><button type="button" class="btn btn-primary btn-lg">Salir</button></div>
        </div>
      </div>
      <div class="dropdown d-none d-lg-inline-block" id="dtik-header-ayuda">
        <a class="dropdown-toggle" href="#" id="dtik-header-dropdown-ayuda" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="dtik-icon-interface-question-mark"></span>
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dtik-header-dropdown-ayuda">
          <a class="dropdown-item" href="#">Enlace 1</a>
          <a class="dropdown-item" href="#">Enlace 2</a>
        </div>
      </div>
      <div class="dropdown d-none d-lg-inline-block">
        <a class="dropdown-toggle" href="#" id="dtik-header-dropdown-idioma" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="dtik-icon-vote-flag-3"></span>
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dtik-header-dropdown-idioma">
          <span class="dropdown-item"><strong class="text-primary">Español</strong></span>
          <a class="dropdown-item" href="#">Euskera</a>
        </div>
      </div>
      <a href="#" id="dtik-header-notificaciones" data-toggle="modal" data-target="#dtik-header-notificaciones-modal"><span class="dtik-icon-alarm"></span> <span class="badge badge-pill badge-danger">3</span></a>
      <!--<div class="dropdown d-none d-lg-inline-block" id="dtik-header-entidad">
        <a class="dropdown-toggle" href="#" id="dtik-header-dropdown-entidad" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="dtik-icon-id-card-1"></span> [11] Donostiako Udala / Ayto. de San Sebastián
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dtik-header-dropdown-entidad">
          <a class="dropdown-item" href="#">Entidad 1</a>
          <a class="dropdown-item" href="#">Entidad 2</a>
          <a class="dropdown-item" href="#">Entidad 3</a>
        </div>
      </div>
	  -->
    </div>
  </div>
</header>
