<div id="dtik-sidebar-wrapper">
  <div id="dtik-sidebar" class="ps ps--active-y">
    <!--<figure id="aplication_logo">
      <img id="dtik-sidebar-logo" style="width:160px;" src="../img/Donostia_Aynta.png" alt="Ayuntamiento de Donostia - San Sebastián.">
    </figure>-->
    <nav>
	<p class="dtik-nav-apartado">Censo OTA</p>

      <ul>
        <li class="@@activenavitemBuscador">
          <a title="Gestión Censo" href="expedientes.html">@@navitemBuscador</a>
		</li>
		<li class="@@activenavitemExpediente">
		  <a title="Crear Nuevo" href="detalle_expediente.html" >@@navitemCrear</a>
        </li>
      </ul>
      <!--<p class="dtik-nav-apartado">Tareas</p>
      <ul>
        <li class="@@activenaviteminfPendientes">
          <a title="Informes Pendientes" href="#">@@naviteminfPendientes</a>
        </li>
        <li class="@@activenavitemResPendientes">
          <a title="Resoluciones Pendientes" href="#">@@navitemResPendientes</a>
        </li>
      </ul>-->
    </nav>
    <div class="ps__rail-x" style="left: 0px; bottom: 0px;">
      <div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div>
    </div>
    <div class="ps__rail-y" style="top: 0px; height: 415px; right: 0px;">
      <div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 376px;"></div>
    </div>
  </div>
</div>
