// importar estilos de variables, componentes, porlets
// importar estilos de variables y mixis
@import '../../../assets/common/styles/scss/variables_eh.scss';
@import '../../../assets/common/styles/scss/mixins_eh.scss';
//estilos genéricos custom
.EH{
	.hidden{display:none;}
	section#dtik-toolbar {
		h1{
			border-right:none;
			padding-right:0;
			& + .btn:before{
				border-left: 1px solid #ced4da;
			    margin-left: -30px;
			    height: 25px;
			    content: "";
			    position: absolute;
			}
			& + .btn{ margin-left:30px;}
		}
	}
	#dtik-sidebar {
		#aplication_logo{
			background:#fff;
			border: 1px solid #dee2e6;
			margin-right: 10px;
			#dtik-sidebar-logo{
				border:none!important;
				margin: 15px;
			}
		}
	}
	.actividad-icon {
		width:15px;
		height:15px;
		display:block;
		border-radius: 1rem;
    	margin: 3px auto;
		&.actividad1{background-color:#50bcc1;}
		&.actividad2{background-color:#f49921;}
		&.actividad3{background-color:#e62a55;}
		&.actividad4{background-color:#b1dff4;}
		&.actividad5{background-color:#6d6d6a;}
		&.actividad6{background-color:#b9cc9e;}
	}
	.badge-warning, .badge-danger, .badge-success, .badge-danger, .badge-info, .badge-dark {color:#fff;}

	.btn + .dropdown {
		float:left;
		margin-right: 3px;
	}
	.scrollbar table td.tableSuplemento {width: inherit;}
	.vbig{font-size:150px;}
	table.dataTable thead .sorting {
	    background-position: right 5px bottom 5px;
	}
	.d-md-flex{
		&.center{justify-content: center;}
	}
	textarea.form-control{min-height:80px;}
}
